<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/icone.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/e2a5c34890.js" crossorigin="anonymous"></script>
   <title>Login & Signup</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <section class="wrapper">
      <div class="form signup">
        <header>Inscription</header>
        <form action="/signup" method="post" autocomplete="off">
            <input type="text" placeholder="Entrer votre nom" name="name" required>
            <input type="text" placeholder="Entrer votre prenom"  name="prenom" required>
            <input type="email" placeholder="Email" name="email" required>
            <div class="form-group">
                <div class="password-container">
                    <input tabindex="2" id="password" class="" placeholder="Password" name="password" type="password" autocomplete="off" aria-invalid="">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
          <div class="checkbox">
            <input type="checkbox" id="signupCheck" required/>
            <label for="signupCheck">I accept all terms & conditions</label>
          </div>
          <input type="submit" value="S'inscrire" />
          <a href="/">< Retour à la connexion</a>
        </form>
      </div>

      <script>
        let input = document.querySelector('.password-container input');
        let showBtn = document.querySelector('.password-container i');
        showBtn.onclick = function(){
            if (input.type === "password"){
                input.type = "text";
                showBtn.classList.add('active');
            }else{
                input.type = "password";
                showBtn.classList.remove('active');
            }
        }
    </script>
    </section>
  </body>
</html>